In [1]:
import pandas as pd
import requests
from io import StringIO

from shapely.geometry import Point

url = "https://raw.githubusercontent.com/Amina212004/MINI_PROJET_ML/refs/heads/data_branch/data/meteorites_final.csv"
token = "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"  

headers = {"Authorization": f"token {token}"}
r = requests.get(url, headers=headers)
r.raise_for_status()  

df = pd.read_csv(StringIO(r.text))
df.head()

,name,year,year_period,continent,country,mass_cleaned,mass_bin,recclass_clean,reclat,reclong
0,Aachen,1880.0,19th Century,Europe,Belgium,21.0,10-100g,L5,50.77500,6.08333
1,Aarhus,1951.0,20th Century,Europe,Denmark,720.0,100-1kg,H6,56.18333,10.23333
2,Abee,1952.0,20th Century,North America,Canada,50370.0,>10kg,H4,54.21667,-113.00000
3,Acapulco,1976.0,20th Century,North America,Mexico,1914.0,1-10kg,L-OTHER,16.88333,-99.90000
4,Achiras,1902.0,20th Century,South America,Argentina,780.0,100-1kg,L6,-33.16667,-64.95000