In [1]:
import pandas as pd
import requests
from io import StringIO
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from shapely.geometry import Point

url = "https://raw.githubusercontent.com/Amina212004/MINI_PROJET_ML/refs/heads/data_branch/data/meteorites_final.csv"
token = "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"  

headers = {"Authorization": f"token {token}"}
r = requests.get(url, headers=headers)
r.raise_for_status()  

df = pd.read_csv(StringIO(r.text))
df.head()

,name,year_period,recclass,continent,country,mass_bin,recclass_clean,fall,reclat,reclong
0,Aachen,19th Century,L5,Europe,Belgium,10-100g,L5,Fell,50.77500,6.08333
1,Aarhus,20th Century,H6,Europe,Denmark,100-1kg,H6,Fell,56.18333,10.23333
2,Abee,20th Century,EH4,North America,Canada,>10kg,H4,Fell,54.21667,-113.00000
3,Acapulco,20th Century,Acapulcoite,North America,Mexico,1-10kg,OTHER,Fell,16.88333,-99.90000
4,Achiras,20th Century,L6,South America,Argentina,100-1kg,L6,Fell,-33.16667,-64.95000